{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link rel="shortcut icon" href="{% static "image/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "css/search.css" %}" />
    <link rel="stylesheet" href="{% static "css/fixed.css"%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
    body {
        background-image: url("{% static "image/bgImage.jpg" %}");
        background-size: 100% 100%;
        -moz-background-size: 100% 100%;
    }
</style>
</head>
<body>
    <div id="content" class="container wrapper2">
        {% block content %}
        {% endblock %}
    <div class="push"></div>
    </div>
    {% block footer %}
    <footer class="footer panel-footer text-center" id="footer" style="background-color: transparent; border: 0px;">
      <div class="container">
        <p>Designed and built By @lit0.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@2016 Copyleft Lit0. </p>
          <li><a href="https://github.com/zltningx/">GitHub</a></li>
      </div>
    </footer>
    {% endblock %}
</body>
</html>