{% extends "blog/base.html" %}

{% load blog_tags %}


{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1 class="page-header" id="title">{{ post.title }}</h1>
    <p class="text-center text-muted">
        作者: {{ post.author }} 更新时间: {{ post.updated }}&nbsp;&nbsp;&nbsp;
        <a href="{% url "blog:post_share" post.id %}">
            分享This文章
        </a>
    </p>
    <div style="height: 14px;"></div>
    <p>
        {{ post.body|markdown }}
    </p>
{#    {% with comments.count as total_comments %}#}
{#        <h4 class="page-header">#}
{#        已有 {{ total_comments }} 条评论#}
{#        </h4>#}
{#    {% endwith %}#}
{#    {% for comment in comments %}#}
{#        <div class="comment">#}
{#            <p class="info">#}
{#                {{ comment.name }}  {{ comment.created }}#}
{#            </p>#}
{#            {{ comment.body|markdown }}#}
{#        </div>#}
{#    {% empty %}#}
{#        <p class="panel-danger"> 还没有评论 ！</p>#}
{#    {% endfor %}#}
{#    {% if new_commnet %}#}
{#        <div>#}
{#            <p class="bg-success">#}
{#                成功留爪！ 握爪! </p>#}
{#            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        </div>#}
{#        {% endif %}#}
{#    {% else %}#}
        <h3 class="header">留下你的痕迹吧！</h3>
    {% include "duoshuo.html" %}
{#        <form action="." method="post" class="form-horizontal">#}
{#            {% for field in comment_form %}#}
{#                {% if forloop.last %}#}
{#                    <div class="form-group">#}
{#                    <div class="col-md-9">#}
{#                        <p class="col-md-5">{{ field.label_tag }}</p>{{ field }}#}
{#                        {{ field.errors }}#}
{#                    </div>#}
{#                </div>#}
{#                {% else %}#}
{#                <div class="form-group">#}
{#                    <div class="col-md-5">#}
{#                        <p class="col-md-5">{{ field.label_tag }}</p> {{ field }}#}
{#                        {{ field.errors }}#}
{#                    </div>#}
{#                </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            {% csrf_token %}#}
{#            <div class="form-group">#}
{#                <div class="col-md-5">#}
{#                    <button class="btn btn-primary">提  交</button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{% endblock %}